# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore master key for decrypting credentials
/config/master.key

# Ignore database configuration
/config/database.yml

# Ignore environment variables
.env*
!.env.example

# Ignore test coverage
/coverage/*

# Ignore node modules
/node_modules

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore Mac system files
.DS_Store

# Ignore RubyMine files
.idea/

# Ignore VSCode files
.vscode/ 